@use '../../lib/service.scss' as s;

.card__mes {
    display: flex;
    padding: 10px;
    margin: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.strong {
    font-weight: bold;
    font-size: 300px;
}

.title__mes {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button__mes {
    border: 1px solid s.color('light');
    padding: s.space(3);
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}