{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="card__mes shadow p-3 mb-4 bg-body rounded">
  <div>
    <strong>{{info}}</strong>
    <div class="title__mes">{{details}}</div>
  </div>
  <div>
      <a href="/product-list" class="button__mes">Повернутися назад</a>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}