{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  <div class="form__card shadow p-3 mb-4 bg-body rounded">
    <form method="POST" action="/purchase-submit?purchase_id={{data.item.id}}" >
      {{> heading title="Зміна данних"}}
      {{#with data.item}}
        <div class="item__info">
          <div class="double-col"> ID: </div>
          <div class="double-col">{{id}}</div>
            {{> field label="Прізвище:" name="lastname" value=lastname}}

            {{> field label="Ім'я:" name="firstname" value=firstname}}

            {{> field label="Пошта:" name="email" value=email}}

            {{> field label="Телефон:" name="phone" value=phone}}
        </div>
        <div>
          {{> button text="Зберегти зміни"}}
        </div>
      {{/with}}
    </form>
  </div>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}