<main>
    <section>
        <div class="form row">
            <h1 class="form__title">Створення товару</h1>
            <form method="POST" action="/product-create">
                <div class="form__content">
                    <div class="form__card shadow p-3 mb-4 bg-body rounded">
                        <h3 class="form__card__title">Інформація про товар</h3>
                        <div class="field__block">
                            <div class="form__field">
                                <label for="name" class="form__label">Назва товару</label>
                                <input type="name" name="name" class="form__input">
                            </div>
                            <div class="form__field">
                                <label for="price" class="form__label">Ціна</label>
                                <input type="price" name="price" class="form__input">
                            </div>
                        </div>
                        <div class="form__field">
                            <label for="description" class="form__label">Короткий опис товару</label>
                            <input type="description" name="description" class="form__input">
                        </div>
                        <div class="desc__hint">Відображається у картці товару</div>
                        <div class="button__block">
                            <button class="form__button">Створити товар</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>